
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard-layout {
    display: flex;
    height: 100vh;

}

.sidebar {
    width: 200px;
    background-color: rgb(93, 6, 244);
    color: white;
    padding: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.side-menu ul {
    list-style-type: none;
}

.side-menu li {
    margin: 10px 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    
}

.side-menu a:hover {
    text-decoration: underline;
}


.main-area {
    flex: 1;
    background-color: #ecf0f1;
}


.navbar {
    background-color: white;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;


}

.navbar .logo {
    font-size: 18px;
    color: #2c3e50;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: #2c3e50;
}


.main-content {
    padding: 20px;
}

#welcome {
    margin-bottom: 20px;
}


.stats {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    
}


.recent-activity h3 {
    margin-bottom: 10px;
}

.recent-activity ul {
    list-style-type: none;
}

.recent-activity li {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 8px;
}
